module xen_shutdown 1.0;

require {
        type sysfs_t;
        type kernel_systemctl_t;
        type system_dbusd_t;
        type system_dbusd_var_run_t;
        type systemd_logind_t;
        class file { open read getattr ioctl };
        class dbus send_msg;
        class unix_stream_socket connectto;
        class dir search;
        class sock_file write;
}

#============= kernel_systemctl_t ==============

allow kernel_systemctl_t sysfs_t:file { open read getattr ioctl };

allow kernel_systemctl_t system_dbusd_t:dbus send_msg;

allow kernel_systemctl_t system_dbusd_t:unix_stream_socket connectto;

allow kernel_systemctl_t system_dbusd_var_run_t:dir search;

allow kernel_systemctl_t system_dbusd_var_run_t:sock_file write;

allow kernel_systemctl_t systemd_logind_t:dbus send_msg;

#============= systemd_logind_t ==============

allow systemd_logind_t kernel_systemctl_t:dbus send_msg;
